@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* CSS reset */
* {
}

.container {
	margin:0 auto;
	/*width: 800px;*/
	font-family: 'Roboto Mono', monospace;
	
}
.top {
	margin:0 auto;
	border:5px solid red;
}
h1 {
	border:1px solid black;
	font-family: 'Chelsea Market', cursive;
}
header {
	margin:0 auto;
	border:1px solid black;
	display:inline-block;
	width:90%; /*700px;*/
	/*justify-content:center;
	vertical-align:middle;*/
	text-align:center;
	

}
nav {
	border:1px solid black;
	display:block;
	height:30px;
	margin: 40px 10px;
	padding:20px;
	margin:0 auto;

}
nav a {
	margin:0 25px;
	padding:20px;
	border-radius: 20px;
	color:#FFFFFF;
	text-decoration:none;
	margin-bottom:20px;
	/*width:100px;*/
	background:#000000;
}
nav a.plan {
	background:#FF764E;
}
nav a.learn {
	background:#5ED3EB;
}
nav a.involved {
	background:#FFCD69;
}
/*
.logo {
	border:1px solid black;
	display:inline-block;
}
.logo img {
	width:200px;
	border-radius:50%;
	padding:10px;
	display:inline-block;
}*/
.top-logo {
	border:1px solid black;
	display:inline-block;
	margin:0 auto;

}
.top-logo img {
	width:200px;
	border-radius:50%;
	padding:10px;
	float:left;
}
.pitch {
	border:1px solid black;
	background-color:#DDB9A3;
	color:#FFFFFF;
	padding:10px 30px;
	text-align:center;
	width:850px;
	
}
.services {
	border:1px solid black;
	margin:0 auto;
	width:340px;
	text-align:center;
}
.services img {
	border:1px solid black;
	height:150px;
	width:100%;
	padding: 20px 0 40px 0;
}
.services p {
	padding:0 0 20px 0;
}
.services a {
	color:#000000;
	text-decoration:none;
	font-weight:bold;

}
.services a:hover {
	color:#FF0000;

}
footer {	
	border:1px solid black;
	overflow:hidden;

}
/*
footer img {
	height:15vh;
	width:100%;
	display:block;
}
*/
.image {
	width:100%;
	height:200px;
	overflow:hidden;
	object-fit:cover;
	border:5px solid black;
}

.image img{
	margin:0px 0px -1200px 0px;
}